body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
  }
  
  body {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  
  .header {
    height: 100vh;
    background-color: #eee;
    background-image: url(https://pictures.s3.yandex.net/frontend-developer/free-course/cover.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .header-title {
    font-size: 140px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: auto;
  }
  
  .overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
  
  .content {
    width: 1250px;
    font-size: 0;
    margin: 100 auto 50;
  }
  
  .card {
    width: 350px;
    margin-bottom: 60px;
    margin-left: 260px;
    margin-right: auto;
    padding: 45px 45px 70px;
    display: inline-block;
    box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
  }
  
  .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  .card-image {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .no-right-margin {
    margin-right: 0;
  }
  
  .footer {
    display: flex;
    height: 100px;
    background-color: #000;
    width: 100%;
  }
  
  .footer-author {
    margin: auto;
    color: white;
    font-size: 18px;
  }